@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* your custom brand colors */
  --color-primary: #1a365d;
  --color-secondary: #d4af37;
  --color-accent: #2d3748;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-primary: #08326dff;
    --color-secondary: #f1b91fff;
    --color-accent: #23314bff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
